<h1>Your Orders</h1>

<ul>
  <% @orders.each do |order| %>
    <li>Order ID: <%= order.id %></li>
    <li>Date of Order: <%= order.created_at %></li>
    <li>Last Updated: <%= order.updated_at %></li>
    <li>Status: <%= order.status %></li>
  <% end %>
</ul>
