<ul>
  <% @user.each do |current_user| %>
  <li>
    <%= link_to current_user.name, admin_user_path(current_user.id) %>
  </li>
  <li>
    Registered: <%= current_user.created_at %>
  </li>
  <li>
    <%= link_to "Upgrade #{current_user.name} to merchant" %>
  </li>
  <% end %>
</ul>
